body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    top: 0%;
}

#study-plan {
    max-width: 800px;
    width: 100%;
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.countdown-container {
    text-align: center;
}

#countdown {
    font-size: 3em;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.chart-bar {
    height: 20px;
    background-color: #3498db;
    border-radius: 5px;
    margin-right: 5px;
}

.chart-bar:last-child {
    margin-right: 0;
}

.unit {
    padding: 20px;
    border-bottom: 1px solid #333;
}

.unit:last-child {
    border-bottom: none;
}

h2 {
    color: #3498db;
}

.topics {
    margin-top: 10px;
}

.topic {
    margin-bottom: 5px;
}

.toggle-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.timeline-link {
    margin-top: 20px;
}

.timeline-link a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.timeline-link a:hover {
    background-color: #2980b9; /* Set your desired background color on hover */
}

.courseCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background: #7DAOCA;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    padding: 20px; /* Added padding for better spacing */
    transition: transform 0.3s;
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .courseCard:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.015); /* Enlarge the card on hover */
  }

  .course-carousel{
    display: flex;
    gap: 10%;
    
  }

