body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.navbar {
    background-color: #111;
    padding: 10px 20px;
    box-shadow: none; /* Initially, no shadow */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-placeholder {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
}

.logo-placeholder img {
    width: 100%; /* Make the logo fill the placeholder */
    height: auto; /* Maintain the aspect ratio */
}

.brand {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007BFF;
}

/* Add sticky styles for the navbar when scrolled */
.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5); /* Neon blue shadow when sticky */
    z-index: 1000;
}

.navbar.sticky .logo-placeholder img {
    opacity: 0.7; /* Reduce opacity when the navbar is sticky */
}

@media (max-width: 480px){
    .logo-placeholder {
        width: 40px; /* Adjust the width as needed */
        height: 40px; /* Adjust the height as needed */
        margin-right: 20px;
    }

    .brand {
        font-size: 1.5em;
        color: #fff;
        font-weight: bold;
    }

    .nav-links a {
        text-decoration: none;
        color: #fff;
        margin-right: 10px;
        font-size: 1.0em;
        transition: color 0.3s ease;
    }
}

.personal-section {
    background-color: #3c3434;
    padding: 50px 20px;
    border-radius: 5px;
    width: 60%;

}

.personal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.profile-picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit:cover;
}

.description {
    max-width: 600px;
    text-align: left;
    padding-left: 20px;
}

.skill-section{
    position: absolute;
    width: 100%;
}

@media (max-width: 786px) {
    .personal-container{
        display: flex;
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center;    
    }
    .profile-picture {
        border-radius: 50%;
        width: 150px; /* Adjust size for mobile */
        height: 150px; /* Adjust size for mobile */
        object-fit: cover;
        margin-bottom: 20px; /* Add spacing between image and description */
    }
    
    .description {
        max-width: 100%;
        text-align: center; /* Center text on small screens */
    }
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    /* display: flex; */
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    top: 0%;
}

#study-plan {
    max-width: 800px;
    width: 100%;
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content-container{
    color: #777; 
    background-color: #f9f9f9; 
    text-align: center; 
    padding: 50px 80px; 
    text-align: justify; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.year{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 48px; 
    color: #35dc75;
}

ol{
    list-style-type: decimal; 
    padding-left: 20px; 
    color: #555; 
    font-size: 1.2em; 
    line-height: 1.6;
}

.highlight{
    color: #FF4500; 
    font-weight: bold;
}

.countdown-container {
    text-align: center;
}
.countdown-circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #1e1e1e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.countdown-dot {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3498db;
    animation: moveDot 4s cubic-bezier(0, 0, 0.61, 0.16) infinite;
    top: 50%;
    left: 50%;
}

@keyframes moveDot {
    /* 0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    } */
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(150px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(150px);
    }
}

#countdown {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    z-index: 2;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.chart-bar {
    height: 20px;
    background-color: #3498db;
    border-radius: 5px;
    margin-right: 5px;
}

.chart-bar:last-child {
    margin-right: 0;
}

.unit {
    padding: 20px;
    border-bottom: 1px solid #333;
}

.unit:last-child {
    border-bottom: none;
}

h2 {
    color: #b7cede;
}

.topics {
    margin-top: 10px;
}

.topic {
    margin-bottom: 5px;
}

.toggle-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.timeline-link {
    margin-top: 20px;
}

.timeline-link a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.timeline-link a:hover {
    background-color: #2980b9; /* Set your desired background color on hover */
}

.courseCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background: #7DAOCA;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    padding: 20px; /* Added padding for better spacing */
    transition: transform 0.3s;
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .courseCard:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.015); /* Enlarge the card on hover */
  }

  .course-carousel{
    display: flex;
    gap: 10%;
    
  }

  .typewriter {
    /* padding-top: 10%; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #fff; /* Add a border for the blinking cursor effect */
}

.parallax {
    /* The image used */
    background-image: url("https://i.pinimg.com/564x/ae/74/45/ae74451600a98d96e38e744bfe895772.jpg");

    /* Set a specific height for larger screens */
    min-height: 1200px;
    width: 100%;
    
    /* Adjust height and border-radius for mobile screens */
    

    box-shadow: 0 0 20px rgba(83, 125, 145, 0.57);
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    
}


.caption span.border{
    background-color: #111;
    color:#fff;
    padding:18px;
    font-size:25px;
    letter-spacing:10px;
}

.caption span.border a{
    text-decoration: none;
    color: #fff;
}

@media (max-width:480px){
    .caption{
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
        text-align: center;
        color: #000;
    }
}

@media (max-width: 768px) {
    .parallax{
        min-height: 600px;
        /* background-image: url(mobile.png); */
        border-radius: 0; /* Remove border-radius on mobile screens if needed */
        background-size: cover;
    }
     /* Ensure the image covers the entire background on mobile */
}

@media (max-width: 768px) {
    .typewriter {
        font-size: 24px; /* Adjust the font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .typewriter {
        font-size: 18px; /* Further adjust the font size for even smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .hero {
        padding-top: 10%;
    }

    h3 {
        font-size: 2.5em;
    }

    #countdown {
        font-size: 1.5em;
    }

    ol {
        font-size: 1em;
    }
}



.coursePane {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 50px;
}

.course-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.courseCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 250px;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    padding: 10px;
    transition: transform 0.3s;
    background: rgba(139, 113, 113, 0.22);
    box-shadow: 0 4px 30px rgba(209, 190, 190, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.courseCard:hover {
    box-shadow: 0 12px 16px 0 rgba(36, 34, 34, 0.24), 0 17px 50px 0 rgba(36, 34, 34, 0.19);
    transform: scale(1.015);
}

.courseCard img {
    width: 100%; /* Set the width to 100% to fit the placeholder width */
    height: auto; /* Allow the height to be adjusted automatically */
    max-height: 162px;
    object-fit: cover; /* Ensure the image covers the entire container */
    box-shadow: 0px 10px 0px 0px #626ba0 inset;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.course-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.course-info .tag {
    display: flex;
    width: 100%;
    padding: 0px 18px;
    justify-content: space-between;
    color: #e9d4d4;

}

.course-info .tag .categ {
    display: flex;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--gray);
    border-radius: 4px;
}

.course-info .tag .price {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #e9d4d4;

}

.course-info .name {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: #e9d4d4;
}

/* Adjust styles for mobile screens */
@media (max-width: 768px) {
    .coursePane {
        padding: 20px; /* Adjust padding for better spacing on mobile */
        align-items: center;
        justify-content: center;
    }
    
    .course-col {
        width: 100%; /* Make the course columns fill the screen vertically on mobile */
    }
}
